# List Functions

In [3]:
my_list = []

In [4]:
type(list)

type

In [5]:
my_list = ["mukesh",5566,4545]

In [6]:
my_list

['mukesh', 5566, 4545]

# list.apppend()

In [7]:
my_list.append([9,8,7])

In [8]:
my_list

['mukesh', 5566, 4545, [9, 8, 7]]


# list.extend()

In [9]:
my_list

['mukesh', 5566, 4545, [9, 8, 7]]

In [10]:
my_list.extend ([55,88,78,98])

In [11]:
my_list

['mukesh', 5566, 4545, [9, 8, 7], 55, 88, 78, 98]

In [12]:
my_list.insert(0,"0mukund")

In [13]:
my_list

['0mukund', 'mukesh', 5566, 4545, [9, 8, 7], 55, 88, 78, 98]

# list.remove()

In [14]:
my_list.remove('0mukund')

In [15]:
my_list

['mukesh', 5566, 4545, [9, 8, 7], 55, 88, 78, 98]

# list.pop()

In [16]:
my_list.pop(3)

[9, 8, 7]

In [17]:
my_list

['mukesh', 5566, 4545, 55, 88, 78, 98]

In [18]:
my_list.pop()

98

In [19]:
my_list

['mukesh', 5566, 4545, 55, 88, 78]

# list.index()

In [20]:
my_list.index(4545)

2

In [21]:
my_list.index(5566)

1

# list.count()

In [22]:
my_list.count(55)

1

In [23]:
my_list.extend([9,8,55])

In [24]:
my_list

['mukesh', 5566, 4545, 55, 88, 78, 9, 8, 55]

In [25]:
my_list.index(55)

3

# list.reverse()

In [26]:
my_list.reverse()

In [27]:
my_list

[55, 8, 9, 78, 88, 55, 4545, 5566, 'mukesh']

In [28]:
my_list.pop()

'mukesh'

# list.sort()

In [29]:
my_list.sort()

In [30]:
my_list

[8, 9, 55, 55, 78, 88, 4545, 5566]

In [31]:
my_list

[8, 9, 55, 55, 78, 88, 4545, 5566]

In [32]:
my_list

[8, 9, 55, 55, 78, 88, 4545, 5566]

In [33]:
my_list[4] = 100

In [34]:
my_list

[8, 9, 55, 55, 100, 88, 4545, 5566]

In [36]:
my_list.replace[55] = 11

AttributeError: 'list' object has no attribute 'replace'